// main: app.less

/******************************************************************************
File: global.less 
Author: Shivraj Rath

All the global styles, irrespective of classes/tags are here.
******************************************************************************/

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: @greylight-light;

}
::-webkit-scrollbar-thumb {
    .rounded(6px);
    background-color: lighten(@greymedium-dark, 20%);
}
::-webkit-scrollbar-thumb:hover {
    background-color: @greymedium-light;

}
body,
html {
    height: 100%;
}
body {
    font-family: opensansRegular;
    background-color: @greylight-light;

}
img {
    width: 100%;
}
small {
    display: block;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.divider {
    margin: 20px auto;
    width: 80%;
    border: 1px solid @greylight-dark;
    .rounded(50px);
}
.strike-el {
    text-decoration: line-through;
}
.clearfix {
    clear: both;
}
.table-row{
    display: table-row;
}
.table-vertical-middle-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

/******************************************************************************
All global classes for colors
******************************************************************************/

.color-primary-light{
    color: @primary-light;
}
.color-success-light{
    color: @grass-light;
}
.color-success-dark{
    color: @grass-dark;
}
.color-price{
    color: @grapefruit-dark;
}
.color-prominent{
    color: @grapefruit-dark;
}