/******************************************************************************
File: main.less 
Author: Shivraj Rath

Contains component specific styles.
Kindly confirm with the styleguide.
******************************************************************************/

body, html {
    height: 100%;
}
body {
    font-family: opensansRegular;
    background-color: @greylight-light;
}
img{
    width: 100%;
}
.mkit {
    .navlink-section {
        nav {
            div {
                padding: 10px 0 10px 55px;
                margin: 0 -15px;
                cursor: pointer;
                &:hover {
                    background-color: lighten(@grass-light, 20%);
                }
            }
        }
    }
    .product-list-section {
        background-color: @white;
        .drop-shadow(0, 10px, 10px);
        border-right: 1px solid @greylight-dark;
    }
    .main-section{
        background-color: @white;
    }
}
