// main: app.less

/******************************************************************************
File: variables.less
Author: Shivraj Rath

This covers all the used variables across the app.
******************************************************************************/
/******************************************************************************
 * COLORS
******************************************************************************/

@white: #fff;
@black: #000;
@grey: #ccc;
@greylight-light: #F5F7FA;
@greylight-dark: #E6E9ED;
@greymedium-light: #CCD1D9;
@greymedium-dark: #AAB2BD;
@linecolor: #656D78;
@background-el: @white;
@background: #E6E9ED;
@background-depth: #434A54;
@bluejeans-dark: #4A89DC;
@aqua-light: #4FC1E9;
@aqua-dark: #3BAFDA;
@grass-light: #A0D468;
@grass-dark: #8CC152;
@sunflower-light:#FFCE54;
@sunflower-dark: #F6BB42;
@rose-dark: #EC87C0; 
@rose-light: #D770AD;
@lavendar-dark: #AC92EC;
@lavendar-light: #967ADC;
@grapefruit-light: #ED5565;
@grapefruit-dark: #DA4453;

@primary-dark: @aqua-dark;
@primary-light: @aqua-light;
@primary-darker: darken(@primary-dark, 20%);
@primary-lighter: lighten(@primary-light, 20%);

@secondary-dark: @greymedium-dark;
@secondary-light: @greymedium-light;
@secondary-darker: darken(@secondary-dark, 20%);
@secondary-lighter: lighten(@secondary-light, 20%);

/******************************************************************************
 * PIXELS
******************************************************************************/

@defaultmargin: 50px;
@defaultpadding: 50px;
@defaultborder: 1px solid @linecolor;
@defaultopacity: 0.4;