/******************************************************************************
File: variables.less
Author: Shivraj Rath

This covers all the used variables across the app.
******************************************************************************/
/******************************************************************************
 * COLORS
******************************************************************************/

@primary: #3bafda;
@white: #fff;
@black: #000;
@grey: #ccc;
@greylight-light: #F5F7FA;
@greylight-dark: #E6E9ED;
@linecolor: #656D78;
@background-el: @white;
@background: #E6E9ED;
@background-depth: #434A54;
@bluejeans-dark: #4A89DC;
@aqua-light: #4FC1E9;
@aqua-dark: #3BAFDA;
@grass-light: #A0D468;
@grass-dark: #8CC152;
/******************************************************************************
 * PIXELS
******************************************************************************/

@defaultmargin: 50px;
@defaultpadding: 50px;
@defaultborder: 1px solid @linecolor;
@defaultopacity: 0.4;
